https://www.cbr-xml-daily.ru/daily_json.js  # курс валют

https://www.alphavantage.co/query? # получаем последнюю стоимость акции

ALPHA_VANTAGE_API_KEY(для https://www.alphavantage.co/query?)
#Alpha Vantage — это веб-сервис, который предоставляет финансовые данные:
    1.курсы акций,
    2.криптовалюты,
    3.валютные пары (Forex),
    4.экономические индикаторы и т. д.

